$sizes: 1 2 3 4 5 6 7 8 9 10 11 12;
@each $size in $sizes {
    .col-#{$size} {
        box-sizing: border-box;
        position: static;
    }
}
*, ::after, ::before {
    box-sizing: border-box;
}

.thin-gutters {
    margin-right: 5px;
    margin-left: 5px;

    > .col,
    > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}
