<div class="row">
  <input type="text" value="{{ inputText }}">
</div>
<div class="row">
    <div class="col-2">Article Name</div>
    <div class="col-2">Link</div>
    <div class="col-2">Description</div>
    <div class="col-2">Last update</div>
  </div>

  <div class="row" *ngFor="let d of data">
    <div class="col-2">{{d.articleName}}</div>
    <div class="col-2">{{d.link}}</div>
    <div class="col-2">{{d.description}}</div>
    <div class="col-2">{{d.lastUpdate}}</div>
  </div>